<section class="w-[25.625rem] gap-8 mx-auto">
    <h2 class="font-bold mb-8">Verify code</h2>
    <form>
        <div class="mb-4">
            <input type="text" id="code" class="auth-inputs" placeholder="Enter Code" required />
        </div> 
        <p class="font-normal mb-10 text-right">Didn’t receive a code? <span class="main-color ">Resend</span></p>
        <button class="auth-button">Verify</button>
    </form>
    <div>
        <app-form-footer></app-form-footer>
    </div>
</section>