<div>
    <div class="flex items-center justify-between mt-8">
        <div class="w-[8.25rem] h-[1px] border"></div>
        <span class="font-normal text-base text-[form-span-color]">Or Continue with</span>
        <div class="w-[8.25rem] h-[1px] border"></div>
    </div>
    <div class="mt-8 flex items-center justify-between">
        <div class="for-icons">
            <img src="./images/Logo Google.png" alt="google icon">
        </div>
        <div class="for-icons">
            <img src="./images/Logo twitter.png" alt="twitter icon">
        </div>
        <div class="for-icons">
            <img src="./images/Logo facebook.png" alt="facebook icon">
        </div>
        <div class="for-icons">
            <img src="./images/Logo apple.png" alt="apple icon">
        </div>
    </div>
</div>