<section class="w-[25.625rem] gap-8 mx-auto">
    <h2 class="font-bold mb-8">Set a Password</h2>
    <form>
        <div class="mb-8">
            <input type="password" class="auth-inputs" placeholder="Create Password" required />
        </div> 
        <div class="mb-8">
            <input type="password" class="auth-inputs" placeholder="Re-enter Password" required />
        </div> 
        <button class="auth-button">Sign in</button>
    </form>
    <div>
        <app-form-footer></app-form-footer>
    </div>
</section>