<div class="md:w-[42.875rem] bg-white rounded-[1.25rem] myShadow p-6 grid gap-12">
   @if (showScore() == false) {
    @if(questionsOnExam){
        <div class="grid gap-[1.6875rem]">
            <div class="grid gap-[1.6875rem]">
                <div class="flex justify-between items-center">
                    <span class="font-medium text-sm/5 tracking-[.0063rem] main-color text-center align-middle">
                        Question {{index+1}} of {{questionsOnExam.length}}
                    </span>
                    <div class="w-[6.125rem] px-1 flex justify-center items-center">
                        <div class="w-6 h-[1.875rem] align-middle">
                            <img src="./images/clock.png" alt="clock">
                        </div>
                        <span class="font-normal text-xl/6 tracking-[.0313rem] align-middle text-center"
                            [class]="minutes > 2 ? 'success-color' : 'text-red-500'">
                            {{ minutes }} : {{ seconds }}
                        </span>
                    </div>
                </div>
                <!-- TODO: dots  -->
                <div>dots</div>
            </div>
            <div class="grid gap-6">
                <h3 class="font-medium text-2xl">{{questionsOnExam[index].question}}</h3>
                <div class="grid gap-4">
                    @for (answer of questionsOnExam[index].answers; track $index) {
                    <div class="w-full h-[4.5rem] rounded-[.625rem] py-4 px-2 flex items-center input-bg"
                        [class]="{'bg-blue-100': isSelected(questionsOnExam[index]._id , answer.key),
                            'input-bg': !isSelected(questionsOnExam[index]._id , answer.key)
                        }">
                        <input [id]="$index" type="radio" [value]="answer.answer" [name]="questionsOnExam[index]._id"
                            (change)="selectAnswer(questionsOnExam[index]._id , answer.key)"
                            [checked]="isSelected(questionsOnExam[index]._id, answer.key)"
                            class="me-1 w-4 h-4 text-blue-600 border-blue-500 focus:ring-blue-500 cursor-pointer">
                        <label [for]="$index" class="ms-1 font-normal text-xl text-black">{{answer.answer}}</label>
                    </div>
                    }
                </div>
            </div>
            <div class="h-14 grid gap-12 grid-cols-2">
                <button (click)="previousQuestion()" id="back" class=" h-14 rounded-full">Back</button>
                <button [disabled]="!check(questionsOnExam[index]._id)" (click)="nextQuestion()"
                    class=" h-14 rounded-full main-bg text-white disabled:bg-gray-300 disabled:text-gray-400">
                    @if (index == questionsOnExam.length -1 || minutes == 0) {Submit}
                    @else {Next}
                </button>
            </div>
        </div>
        }
   }
   @if (showScore() == true) {
    @if (score) {
        <h2 class="font-medium text-2xl">Your score</h2>
        <div class="flex justify-center items-center">
            <div class="me-20">
                {{score.total}}
              <div>
                <canvas id="myScore">{{chart}}</canvas>
              </div>
            </div>
            <div>
                <div class="w-[10.625rem] flex justify-between items-center mb-2">
                    <p class="correct font-medium text-2xl">Correct</p>
                    <div class="w-8 h-8 p-2 cborder rounded-full flex justify-center items-center correct">{{score.correct}}</div>
                </div>
                <div class="w-[10.625rem] flex justify-between items-center mb-2">
                    <p class="incorrect font-medium text-2xl">InCorrect</p>
                    <div class="w-8 h-8 p-2 inborder rounded-full flex justify-center items-center incorrect">{{score.wrong}}</div>
                </div>
            </div>
        </div>
        <div class="h-14">
            <button class="w-1/2 h-14 rounded-full main-bg text-white block mx-auto">Show results</button>
        </div>

    }
   }
</div>