<section class="w-[25.625rem] gap-8 mx-auto">
    <h2 class="font-bold mb-8">Sign up</h2>
    <form>
        <div class="mb-8">
            <input type="text" id="fname" class="auth-inputs" placeholder="First Name" required />
        </div> 
        <div class="mb-8">
            <input type="text" id="lname" class="auth-inputs" placeholder="Last Name" required />
        </div> 
        <div class="mb-8">
            <input type="email" id="email" class="auth-inputs" placeholder="Enter Email" required />
        </div> 
        <div class="mb-8 relative">
            <input type="password" id="password" class="auth-inputs" placeholder="Password" required />
            <i class="absolute end-2 top-1"><img src="./images/fluent_eye-20-filled.png" alt="eye icon"></i>
        </div> 
        <div class="mb-4 relative">
            <input type="password" id="password" class="auth-inputs" placeholder="Confirm Password" required />
            <i class="absolute end-2 top-1"><img src="./images/fluent_eye-20-filled.png" alt="eye icon"></i>
        </div> 
        <p class="font-medium mb-10 text-center">Already have an account? <span class="main-color">Login</span></p>
        <button class="auth-button">Create Account</button>
    </form>
    <div>
        <app-form-footer></app-form-footer>
    </div>
</section>