<section class="w-[25.625rem] gap-8 mx-auto">
    <h2 class="font-bold mb-8">Sign up</h2>
    <form [formGroup]="registerForm" (ngSubmit)="signUp()">
        <div class="mb-8">
            <input formControlName="firstName" type="text" id="fname" class="auth-inputs" placeholder="First Name" required />
        </div> 
        <div class="mb-8">
            <input formControlName="lastName" type="text" id="lname" class="auth-inputs" placeholder="Last Name" required />
        </div> 
        <div class="mb-8">
            <input formControlName="email" type="email" id="email" class="auth-inputs" placeholder="Email" required />
        </div> 
        <div class="mb-8 relative">
            <input formControlName="password" type="password" id="password" class="auth-inputs" placeholder="Password" required />
            <i class="absolute end-2 top-1"><img src="./images/fluent_eye-20-filled.png" alt="eye icon"></i>
        </div> 
        <div class="mb-8 relative">
            <input formControlName="rePassword" type="password" id="repassword" class="auth-inputs" placeholder="Confirm Password" required />
            <i class="absolute end-2 top-1"><img src="./images/fluent_eye-20-filled.png" alt="eye icon"></i>
        </div> 
        <div class="mb-4">
            <input formControlName="phone" type="tel" id="phone" class="auth-inputs" placeholder="Phone" required />
        </div> 
        <p class="font-medium mb-10 text-center">Already have an account? <span class="main-color">Login</span></p>
        <button class="auth-button">Create Account</button>
    </form>
    <div>
        <app-form-footer></app-form-footer>
    </div>
</section>